obj
*.suo
*.sdf
example-pointcloud-rgb/x64/
*.opendb
*.db
*.TMP
*.db-shm
example-pointcloud-rgb/.vs/
*.exp
*.iobj
*.ipdb
*.bag
example-pointcloud-rgb/bin/example-pointcloud-rgb.*
example-pointcloud-rgb/bin/example-pointcloud-rgb_debug.*
*.user
